body {
    background-color: #3C3C3C;
}

.container{
    width: 1200px;
}


h2 {
    font-family: 'Roboto Slab', serif;
}

.summary-title {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}

.summary-body {
    font-family: 'Open Sans';
    font-size: 15px;
}

.post-summary {
    margin-bottom: 20px;
}

.main-nav {
    background: #888;
}
.main-nav a {
    color: #E5E5E5;
}

.main-nav a:hover {
    background-color: #797979 !important;
}

.content-main {
    background: #FEFEFE;
    padding: 15px 30px 60px;
    overflow: hidden;
}

.navbar-nav>li>a {
    padding-top: 8px;
    padding-bottom: 9px;
}

.page-title {
    font-size: 60px;
    color: #fefefe;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.sub-title {
    font-size: 20px;
    color: #fefefe;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.content-head {
    margin-bottom: 10px;
}